@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700&display=swap");
.bg-gamer {
  background-color: #02d206;
}

.text-gamer {
  color: #02d206;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container-md {
  height: 90px;
}
@media all and (min-width: 992px) {
  .container-md {
    padding: 0 5.5rem;
  }
}
.container-md .navbar-brand img {
  width: 220px;
  height: 100px;
}
.container-md .d-flex {
  margin-top: 3px;
}
.container-md .d-flex span i {
  color: #91C612;
}
.container-md .d-flex .spanSesion {
  color: #91C612;
  margin-left: 1rem;
}
.container-md .d-flex .spanSesion i {
  font-size: 1.2rem;
  justify-content: center;
}
.container-md .d-flex .sesion {
  font-size: 1.1rem;
  background-color: #91C612;
  border: 1px black solid;
  padding: 5px;
  border-radius: 5px;
  text-transform: uppercase;
  margin: 0 0.4rem 0 1rem;
  padding: 2px 5px;
  max-height: 75px;
  align-self: center;
  text-transform: none;
  box-shadow: none;
  transition: all 300ms;
}
.container-md .d-flex .sesion:hover {
  background-color: #82ab25;
}
.container-md .d-flex #iniciarSesion {
  text-align: center;
}
.container-md .d-flex #iniciarSesion input {
  margin: 1px 0;
  width: 150px;
  height: 20px;
}
.container-md .d-flex .carrito {
  margin: 0 20px;
}
.container-md .d-flex .carrito svg {
  width: 28px;
}

#second-nav {
  border: 1px solid black;
  border-left: none;
  border-right: none;
}
#second-nav .container #navbarNav ul {
  width: 70%;
  justify-content: space-between;
}
#second-nav .container #navbarNav ul li {
  text-transform: uppercase;
}
#second-nav .container #navbarNav ul li :hover {
  color: black;
}
#second-nav .container #navbarNav ul li a {
  color: white;
}

#footer .imagen {
  width: 20rem;
  transition: all 300ms;
}
#footer .imagen:hover {
  transform: scale(1.02);
}
#footer .logo {
  font-size: 2.4rem;
  color: white;
  margin: 0 10px;
  transition: all 300ms;
}
#footer .logo:hover {
  transform: scale(1.05);
}
@media all and (max-width: 769px) {
  #footer .logo {
    margin: 0 5px;
  }
}

.inputs {
  width: 20rem !important;
  height: 45px !important;
}
.inputs:focus {
  border: 1px solid #02d206 !important;
}

.custom-loader {
  -webkit-animation: none !important;
          animation: none !important;
  border-width: 0 !important;
  width: 20rem !important;
}

.botonCerrar:focus {
  box-shadow: none !important;
}

.botonConfirmar {
  border: 1px solid black !important;
  box-shadow: none !important;
  text-transform: uppercase !important;
}

.loader {
  --height-of-loader: 4px;
  --loader-color: #02d206;
  width: 60%;
  height: var(--height-of-loader);
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}
.loader::before {
  content: "";
  position: absolute;
  background: var(--loader-color);
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 30px;
  -webkit-animation: moving 1s ease-in-out infinite;
          animation: moving 1s ease-in-out infinite;
}

@-webkit-keyframes moving {
  50% {
    width: 100%;
  }
  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}

@keyframes moving {
  50% {
    width: 100%;
  }
  100% {
    width: 0;
    right: 0;
    left: unset;
  }
}
#primerForm {
  margin: -0.2rem;
}

.inputGroup {
  font-family: "Segoe UI", sans-serif;
  margin: 1em 0 1em 0;
  width: 450px;
  height: 50px;
  position: relative;
}
.inputGroup .textoBuscador {
  font-family: "Montserrat", sans-serif;
}
.inputGroup #botonBuscador {
  border: 1px solid grey;
  border-left: none;
  border-radius: 0rem 0.25rem 0.25rem 0;
}
.inputGroup #botonBuscador:focus {
  box-shadow: none;
}

.inputGroup input {
  font-size: 100%;
  padding: 0.8em;
  outline: none;
  border: 1px solid grey;
  background-color: transparent;
  border-radius: 0.25rem 0 0rem 0.25rem;
  border-right: none;
  width: 100%;
}

.inputGroup label {
  font-size: 100%;
  position: absolute;
  left: 0;
  padding: 0.8em;
  margin-left: 0.5em;
  pointer-events: none;
  transition: all 0.3s ease;
  color: rgb(100, 100, 100);
}

.inputGroup :is(input:focus, input:valid) ~ label {
  transform: translateY(-50%) scale(0.9);
  margin: 0em;
  margin-left: 1.3em;
  padding: 0.4em;
  background-color: #ffffff;
}

.inputGroup :is(input:focus, input:valid) {
  border: 2px solid #91C612;
}

body {
  padding: 0;
  margin: 0;
}

.row img {
  padding: 8px;
  height: 15rem;
  max-height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.row .auto {
  justify-content: center;
}
.row .auto .card {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.row .auto .card:hover {
  border: 1px solid #009a03;
}
.row .auto .card button {
  box-shadow: none;
  background-color: #02d206;
  transition: all 300ms;
}
.row .auto .card button:hover {
  background-color: #04b307;
}

#botonesCarrito > button:focus {
  box-shadow: none;
}

#lista .tamaño {
  width: 5.5rem;
}
#lista .divBorrar {
  height: 37px;
}
#lista .divBorrar .suma_resta:focus {
  box-shadow: 0 0 0 0.15rem rgba(145, 198, 18, 0.25);
}

.noResultado {
  height: 14rem;
  display: flex;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
}
.noResultado .oops {
  font-size: 2.3rem;
  color: grey;
  opacity: 0.7;
}
.noResultado .lupa {
  width: 13rem;
  height: 12rem;
  opacity: 0.8;
}/*# sourceMappingURL=style.css.map */