@import "variables";
@import "fuentes";

body {
    font-family: 'Montserrat', sans-serif;
}

.container-md{
    height: 90px;
    @media all and (min-width:992px) {
            padding: 0 5.5rem;
    }
    .navbar-brand{
        img{
            width: 220px;
            height: 100px;
        }
    }
    .d-flex{
        margin-top: 3px;
        span{
            i{
                color: $color-gamer;
            }
        }
        .spanSesion{
            color: $color-gamer;
            margin-left: 1rem;
            i{
                font-size: 1.2rem;
                justify-content: center;
            }
        }
        .sesion{
            @include botones(1.1rem);
            margin: 0 .4rem 0 1rem;
            padding: 2px 5px;
            max-height: 75px;
            align-self: center;
            text-transform: none;
            box-shadow: none;
            transition: all 300ms;
            &:hover{
                background-color: #82ab25;
            }
        }
        #iniciarSesion{
            text-align: center;
            input{
                margin: 1px 0;
                width: 150px;
                height: 20px;
            }
        }
        .carrito{
            margin: 0 20px;
            svg{
                width: 28px;
            }
        }
    }
}

#second-nav{
    border: 1px solid black;
    border-left: none;
    border-right: none;
    .container{
        #navbarNav{
            ul{
                width: 70%;
                justify-content: space-between;
                li{
                    text-transform: uppercase;
                    :hover{
                        color: black;
                    }
                    a{
                        color: white;
                    }
                }
            }
        }
    }
}

#footer{
    .imagen{
        width: 20rem;
        transition: all 300ms;
        &:hover{
            transform: scale(1.02);
        }
    }
    .logo{
        font-size: 2.4rem;
        color: white;
        margin: 0 10px;
        transition: all 300ms;
        &:hover{
            transform: scale(1.05)
        }
        @media all and (max-width: 769px){
            margin: 0 5px;
        }
    }
}

.inputs{
    width: 20rem !important;
    height: 45px !important;
    &:focus{
        border: 1px solid $color-gamer-original !important;
    }
}

.custom-loader {
    animation: none !important;
    border-width: 0 !important;
    width: 20rem !important;
}

.botonCerrar{
    &:focus{
        box-shadow: none !important;
    }
}

.botonConfirmar{
    border: 1px solid black !important;
    box-shadow: none !important;
    text-transform: uppercase !important;
}

.loader {
    --height-of-loader: 4px;
    --loader-color: #02d206;
    width: 60%;
    height: var(--height-of-loader);
    border-radius: 30px;
    background-color: rgba(0,0,0,0.2);
    position: relative;
    &::before {
        content: "";
        position: absolute;
        background: var(--loader-color);
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        border-radius: 30px;
        animation: moving 1s ease-in-out infinite;
        ;
    }
}

@keyframes moving {
    50% {
        width: 100%;
    }

    100% {
        width: 0;
        right: 0;
        left: unset;
    }
}

#primerForm{
    margin: -0.2rem;
}

.inputGroup {
    font-family: 'Segoe UI', sans-serif;
    margin: 1em 0 1em 0;
    width: 450px;
    height: 50px;
    position: relative;
    .textoBuscador{
        font-family: 'Montserrat', sans-serif;
    }
    #botonBuscador{
        border: 1px solid grey;
        border-left: none;
        border-radius: 0rem 0.25rem 0.25rem 0;
            &:focus{
                box-shadow: none;
            }
    }
}

.inputGroup input {
    font-size: 100%;
    padding: 0.8em;
    outline: none;
    border: 1px solid grey;
    background-color: transparent;
    border-radius: 0.25rem 0 0rem 0.25rem;
    border-right: none;
    width: 100%;
}

.inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
}

.inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #ffffff;
}

.inputGroup :is(input:focus, input:valid) {
    border: 2px solid #91C612;
}


@import "pages/main";