body{
    padding: 0;
    margin: 0;
}

.row{
    img{
        padding: 8px;
        height: 15rem;
        max-height: 15rem;
        object-fit: cover;
    }
    .auto{
        justify-content: center;
        .card{
            background: white;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            &:hover{
                border: 1px solid #009a03;
            }
            button{
                box-shadow: none;
                background-color: $color-gamer-original;
                transition: all 300ms;
                &:hover{
                    background-color: #04b307;
                }
            }
        }
    }
}

#botonesCarrito{
    >button{
        &:focus{
                box-shadow: none;
            }
    }
    
}

#lista{
    .tamaño{
        width: 5.5rem;
    }
    .divBorrar{
        height: 37px;
        .suma_resta{
            &:focus{
                box-shadow: 0 0 0 0.15rem rgb(145 198 18 / 25%);
            }
        }
    }
}

.noResultado{
    height: 14rem;
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    .oops{
        font-size: 2.3rem;
        color: grey;
        opacity: 0.7;
    }
    .lupa{
        width: 13rem;
        height: 12rem;
        opacity: 0.8;
    }
}


